h1{
  padding-left: 20px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(166, 88, 88);
}

.container {
  display: flex;
  padding: 1%;
  background-color: antiquewhite;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

nav{
  display: flex;
  justify-content: space-around;
  width:30%; 
}

.myFace{ 
  border-radius: 30%;
  width: 160px;
  height: 200px;
} 

.mainImage {
  max-width: 80%;
  max-height: 80%;
}

h4{
  position: absolute;
  color: whitesmoke;
  padding: 2%;
}
.proj2{
  max-width: 70%;
  max-height: 70%;
}

.proj3{
  max-width: 70%;
  max-height: 70%;
}

aside{
  background-color: rgb(166, 88, 88);
  padding: 1%;
}


@media screen and (max-width: 992px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  header{
    background-color: rgb(154, 154, 231);
  }

  aside{
    background-color: rgb(154, 154, 231);
  }
  }

